@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100&display=swap');
*{
  box-sizing: border-box;
}
body{
  font-family: 'Poppins',sans-serif;
  background: url(cube.jpg) no-repeat;
  color: white;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height:250px;
  width: 250px;
  margin:auto;
  margin-top: 40px;
  position:relative;
  transform: scale(1);
}
.gradient-circle{
  margin-top: 20px;
  height: 270px;
  width: 270px;
  position: absolute;
  top:-10px;
  left: -10px;
  z-index:-2;
  border-radius: 50%;

}
.transC{
  background-color: #6930c3;
  box-shadow: 0 0 5px #6930c3,
              0 0 25px #6930c3;
  transition: all 2s linear;
}
.circle{
  margin-top: 20px;
  background-color: #010f1c;
  height:100%;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
}
.pointer-container{
  position: absolute;
  top:-20px;
  /* left:140px; */
  height: 165px;
  width: 20px; 
  /* background: red; */
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}
.pointer{
  background: #fc2d5e;
  box-shadow: 0 0 5px #fc2d5e,
              0 0 10px #fc2d5e;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
  transition: 0.8s all;
}

.container.grow{
  animation: grow 4s linear forwards;
}
.container.shrink{
  animation: shrink 4s linear forwards;
}
@keyframes rotate {
  from{
    transform: rotate(0deg)
  }
  to{
    transform: rotate(360deg);
  }
}
@keyframes grow {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.2);
  }
}
@keyframes shrink {
  from{
    transform: scale(1.2);
  }
  to{
    transform: scale(1);
  }
}
.toggle-pointer{
  background: #6930c3;
  box-shadow: 0 0 5px #6930c3,
              0 0 25px #6930c3;
}
.toggle-gradient{

  background: #fc2d5e;
  box-shadow: 0 0 5px #fc2d5e,
              0 0 10px #fc2d5e;
}

#text{
  cursor: pointer;
  font-size: 25px;
}
#text:hover{
  text-shadow: 0 0 5px white,
               0 0 20px white;
}
.cngclr{
  color: red;
}
.brand{
  font-size: 35px;
  letter-spacing: 3px;
  cursor: pointer;
  transition: all 0.5s;
}
.brand:hover{
  color: white;
  text-shadow: 0 0 5px white,
              0 0 25px white;
}